# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Expo-specific
.expo
__generated__
ios/Pods
android/app/build

# EAS-specific
eas-build-cache/
eas-builds/

# IDE-specific files
.idea/
.vscode/

# macOS
.DS_Store

# Logs
logs/

# Environment variables
.env

# Android build files
/build/

# iOS build files
/ios/Pods/
/ios/DerivedData/
/ios/build/
